/* Colors */
$bg-black: #000;
$bg-dark: #030303;
$bg-gray: #c4c4c4;
$bg-white: #fff;
$dark-red: #710707;
$font-gold: #9d8665;
$paginator-gold: #d2b183;
$explore-gold: #caaa7d;

/* Font size */
$font-size80: 80px;
$font-size50: 50px;
$font-size32: 32px;
$font-size28: 28px;
$font-size22: 22px;
$font-size18: 18px;

/* Line height */
$line-height90: 90px;
$line-height38: 38px;
$line-height35: 35px;
$line-height33: 33px;
$line-height26: 26px;

/* Font weight */
$font-weight100: 100;
$font-weight300: 300;
$font-weight400: 400;
$font-weight500: 500;
$font-weight700: 700;

/*  Letter spacing*/
$letter-spacing5: 5px;
$letter-spacing3: 3px;
$letter-spacing2: 2px;
